venv
venv2
mycreds.txt
credentials.json
client_secrets.json
sloth_custom_images/
texts/
.vs/
.vscode/
sloth.sql
tests.py
LICENSE
.dockerignore
.gitignore
.python-version
dev-requirements.txt
pytest.ini
runtime.txt
.idea/
**/__pycache__/